.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #2e0101;
    padding: 20px;
}

.signup-form {
    position: static;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    height: 30%;
    /* max-width: 500px; */
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-form .form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.signup-form .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.signup-form .btn {
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.signup-form .btn-success {
    background-color: #583c3c;
    width: 100%;
}

.signup-form .btn-success:hover {
    background-color: #5e3232;
}

.signup-form .btn-default {
    background-color: #f8f9fa;
    color: #495057;
    border: 1px solid #ced4da;
}

.signup-form .btn-default:hover {
    background-color: #e2e6ea;
}

.signup-form .alert {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.signup-form small {
    display: block;
    color: #dc3545;
    margin-top: 5px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 10px;
    color: #000000;
}

.signup-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.signup-form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
}

.signup-form a:hover {
    text-decoration: underline;
}
